.App {
 position: absolute;
width: 934px;
height: 619px;
left: 253px;
top: 203px;

background: #FFFFFF;
border-radius: 8px;
margin-right: 20px;
}
h3{
  position: absolute;
width: 339px;
height: 44px;
left: 297px;
top: 56px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #000000;
}

.Counter{
  
position: absolute;
width: 449px;
height: 94px;
left: 242px;
top: 151px;

background: #0E042D;
border-radius: 8px;
}
span{
  position: absolute;
width: 153px;
height: 34px;
left: 148px;
top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
/* identical to box height */


color: #FFFFFF;
}

.Reset{
  /* reset/button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 40px;
gap: 10px;

position: absolute;
width: 125px;
height: 35px;
left: 217px;
top: 352px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.Increment{
  /* increment/button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 40px;
gap: 10px;

position: absolute;
width: 160px;
height: 35px;
left: 365px;
top: 352px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.Decrement{
  /* decrement/button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 40px;
gap: 10px;

position: absolute;
width: 167px;
height: 35px;
left: 549px;
top: 352px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
/* button{
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

} */
/* .Container{
  display: flex;
  align-items:center ;
} */